header {
    background-color: black;
    position: relative;
    height: 50px;
    /*     background-image: url(../img/fundo-rodape.png);
clear: both;  */
    /*  display: inline;*/
}

#myInput {
    background-image: url('../../assets/images/icon-busca.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    transform: translate(200px, 5px);
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: white;
    color: black;
}

li a:active {
    background-color: white;
    color: black;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

#logo_pequeno {
    display: block;
    float: left;
}

.float-r {
    float: right;
}

#figura-prato {
    text-align: center;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

#celula-botao {
    vertical-align: top;
    text-align: right;
}

#ver-receita {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
}

#descricao {
    font-size: small;
    border: none;
    width: 900px;
}

.float-right {
    text-align: right;
    vertical-align: middle;
}